---
- name: Deploying cloud formation template via ansbile stack
  cloudformation:
    stack_name: MediaWiki-CICD-PIPELINE1
    state: present
    disable_rollback: True
    # template_url: https://"{{ bucketname }}".s3.amazonaws.com/"{{subdirectory}}"/"{{master_template}}"
    template_url: https://takshika-cftemplate.s3.amazonaws.com/cf_template.json
    tags:
      Name: MediaWiki-CICD-PIPELINE1
  
