---

- include_vars: ../../../group_vars/all.yml


- name: "Clean existing secret file"
  file:
    path: "vaults/{{ item }}"
    state: absent
  with_items:
    - secret.yml 

- name: "Download secret file from s3"
  command: sudo aws s3 cp s3://takshika-cftemplate/secret.yml /tmp
  # command: aws s3 cp "{{VAULT_DIRECTORY}}/{{ item }}" "vaults/{{ item }}"
  with_items:
    - secret.yml

- name: "Set Permission for secret file"
  file:
    path: "vaults/{{ item }}"
    mode: '0644'
  with_items:
    - secret.yml
 